<html xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>댓글 상세 페이지</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script src="js/includeHTML.js"></script>

</head>

<body>
<script th:inline="javascript">
    let message = [[${message}]];

    if (message !== null) alert(message);
</script>

<script th:inline="javascript">
    let sessionId = [[${session.id}]];
    if(sessionId === null) document.write('<nav include-html="html/nav.html"></nav>');
    else document.write('<nav include-html="html/nav2.html"></nav>')
</script>

<div style="position: absolute;left:150px; right:150px; top:60px">
    <h1 class="text-center text-danger">댓글 상세 내용</h1>
    <p>작성자 : [[${list.userId}]]</p>
    내용 :
    <div id="content">
<textarea readonly="readonly"
          class="form-control"
          th:text="${list.content}">
</textarea>
    </div>

    <script th:inline="javascript">
        let writerId= [[${list.userId}]];
        let loginId=[[${id}]];

        if (loginId === writerId) {
            document.writeln('<button id="deleteBtn" class="btn btn-danger btn-sm float-right">삭제</button>')
            document.writeln('<button id="updateBtn" class="btn btn-info btn-sm float-right">수정</button>')
        }
    </script>

    <form id="form" th:action="@{/}" method="post">
    </form>

</div>

<script th:inline="javascript">
    $(document).on('ready', function (e) {
        let form= $("#form");
        let id= [[${list.id}]];
        let boardId = [[${list.boardId}]];

        $(document).on('click', '#deleteBtn', function (e) {
            $('#form').attr("action", "deleteComment");
            form.append("<input type='hidden' name='id' value='" + id + "'>");
            form.append("<input type='hidden' name='userId' value='" + writerId + "'>");
            form.append("<input type='hidden' name='boardId' value='" + boardId + "'>");
            form.append("<input type='hidden' name='_method' value='delete'>");

            form.submit();
        })
        $(document).on('click', '#updateBtn', function (e) {
            let str = "<textarea class='form-control' placeholder='내용 입력'" +
                "id='updateContent'></textarea>";
            $("#content").html(str);
            $("#updateBtn").attr("id", "updateConfirmBtn");

        })

        $(document).on('click', '#updateConfirmBtn', function (e) {
            $('#form').attr("action", "updateComment");
            let updateContent = $('#updateContent').val();
            form.append("<input type='hidden' name='id' value='" + id + "'>");
            form.append("<input type='hidden' name='boardId' value='" + boardId + "'>");
            form.append("<input type='hidden' name='userId' value='" + writerId + "'>");
            form.append("<input type='hidden' name='_method' value='put'>");
            form.append("<input type='hidden' name='content' value='" + updateContent + "'>");

            form.submit();

        })
    })

</script>
</body>
<script>
    includeHTML();
</script>
</html>